# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25.1"

      - name: Install development libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y qtbase5-dev qttools5-dev-tools qtmultimedia5-dev qtbase5-private-dev libqt5svg5-dev libqt5webchannel5-dev qtdeclarative5-dev pkg-config build-essential libsqlite3-dev gcc g++

      - name: Set CGO environment
        run: |
          echo "CGO_ENABLED=1" >> $GITHUB_ENV

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
